html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

/*
 * @Author: yinyaoxuan 
 * @Date: 2019-01-17 10:33:50 
 * @Last Modified by: xiaoyuf
 * @Last Modified time: 2019-01-19 20:36:24
 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: 0; }

html,
body {
  width: 100%;
  height: 100%; }

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column; }
  .wrapper header {
    height: 2.66667rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0.4rem; }
    .wrapper header .tab {
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      display: -webkit-flex;
      /* NEW - Chrome */
      -webkit-justify-content: center;
      justify-content: center; }
      .wrapper header .tab span {
        padding: 0.26667rem 0.53333rem;
        border: 1px solid orange; }
      .wrapper header .tab .active {
        background: orange;
        color: #fff; }
    .wrapper header .creatbill {
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      display: -webkit-flex;
      /* NEW - Chrome */
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      height: 1.6rem;
      width: 100%;
      border-bottom: 1px solid #ccc; }
      .wrapper header .creatbill dl {
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        display: -webkit-flex;
        /* NEW - Chrome */
        -webkit-align-items: center;
        align-items: center; }
        .wrapper header .creatbill dl dt {
          background: #f77;
          width: 1.06667rem;
          height: 1.06667rem;
          border-radius: 100%;
          line-height: 1.06667rem;
          text-align: center; }
          .wrapper header .creatbill dl dt .icon {
            font-size: 0.53333rem;
            color: #fff; }
        .wrapper header .creatbill dl dd {
          padding-left: 0.26667rem; }
      .wrapper header .creatbill input {
        line-height: 1.6rem;
        text-align: center; }
  .wrapper section {
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    overflow-y: auto;
    width: 100%; }
    .wrapper section .content {
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      display: -webkit-flex;
      /* NEW - Chrome */
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%; }
      .wrapper section .content dl {
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        display: -webkit-flex;
        /* NEW - Chrome */
        -webkit-align-items: center;
        align-items: center;
        width: 25%;
        height: 2.66667rem;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center; }
        .wrapper section .content dl dt {
          background: #ccc;
          width: 1.06667rem;
          height: 1.06667rem;
          border-radius: 100%;
          line-height: 1.06667rem;
          text-align: center; }
          .wrapper section .content dl dt .icon {
            font-size: 0.53333rem; }
        .wrapper section .content dl dd {
          padding-left: 0.26667rem; }
      .wrapper section .content .active dt {
        background: #f77; }
        .wrapper section .content .active dt i {
          color: #fff; }
  .wrapper footer {
    width: 100%;
    height: 2.13333rem; }
    .wrapper footer .date {
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      display: -webkit-flex;
      /* NEW - Chrome */
      -webkit-justify-content: space-around;
      justify-content: space-around;
      color: #999; }
    .wrapper footer .btn {
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      display: -webkit-flex;
      /* NEW - Chrome */
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: space-around;
      justify-content: space-around; }
      .wrapper footer .btn span {
        width: 40%;
        border: 1px solid orange;
        padding: 0.26667rem 0.53333rem;
        text-align: center; }
      .wrapper footer .btn .savebill {
        color: #fff;
        background: orange; }
